.test {
    border: 1px solid red;
  }
  
  body {
    font-family: 'Proxima Nova Rg';
  }
  
  .bg-black {
      background-color: #000000 !important;
  }
  
  .hero-text {
    height: 80vh;
  }
  
  .hero-text h1 {
    font-size: 5rem;
    font-family: 'Proxima Nova Bold';
    letter-spacing: .1rem;
    color: rgb(0, 0, 0);
  }
  
  .hero-text p {
    font-size: 2.5rem;
    letter-spacing: .15rem;
  }
  
