.test {
    border: 1px solid red;
  }
  
  body {
    font-family: 'Proxima Nova Rg';
  }
  
  .bg-black {
      background-color: #000000 !important;
  }
  
  .hero-text {
    height: 100vh;
  }
  
  .hero-text h1 {
    font-size: 5rem;
    font-family: 'Proxima Nova Bold';
    letter-spacing: .1rem;
    color: #fff;
  }
  
  .hero-text p {
    font-size: 2.5rem;
    letter-spacing: .15rem;
  }
  
  section.hero {
    background: url(material/assets/slices/hero/img_1_hero.jpg) no-repeat center center;
    background-size: cover;
  }